.Searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.SearchForm{
    display: flex;
    width: 100%;
}
.App{
  padding: auto;
  text-align: center;
  background-color: lime;

}
.ResultDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

}
